.share{
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68); 
    box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
}
.share-wrapper{
    padding: 10px;
}
.share-top{
    display: flex;
    align-items: center;
}

.share-profile-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.share-input{
  border: none;
  width: 80%;  
}
.share-input:focus{
    outline: none;
}
.share-horizontal{
    margin: 20px;
    width: 98%;
}
.share-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.share-options{
    display: flex;
    margin-left: 20px;
}
.share-options-list{
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}
.share-icon{
    margin-right: 5px;
}
.share-button{
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: green;
    font-weight: 500;
    color: white;
    cursor: pointer;
}
#file{
    display: none;
}
.img-preview{
    padding: 0 20px 10px 20px;
    position: relative;
}
.preview-img{
    width: 100%;
    object-fit: cover;
}
.img-preview-cancel{
    position: absolute;
    top: 5px;
    right: 25px;
    color: red;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0px 0px 2px 2px black;
    opacity: 0.7;
}